@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8
  }
}

:root {
  --foreground-rgb: 25, 25, 25;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 214, 219, 220;
}

@media (prefers-color-scheme:linearGradient) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 40, 53, 71;
    --background-end-rgb: 28, 37, 50;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}



.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}