@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 25, 25, 25;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 214, 219, 220;
}

@media (prefers-color-scheme:linearGradient) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 40, 53, 71;
    --background-end-rgb: 28, 37, 50;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer base {
  .container {
    @apply max-w-7xl mx-auto sm: px-6 lg:px-8
  }
}